<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604630812493-u472jk8oe9169ktijfpqo5jvhmvsp7k3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604630812493-u472jk8oe9169ktijfpqo5jvhmvsp7k3</string>
	<key>API_KEY</key>
	<string>AIzaSyBfNg_AK5ohQh8riNj_tGBDfUgnHBu8CQY</string>
	<key>GCM_SENDER_ID</key>
	<string>604630812493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miguelPelayo.Money</string>
	<key>PROJECT_ID</key>
	<string>money-36b4e</string>
	<key>STORAGE_BUCKET</key>
	<string>money-36b4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604630812493:ios:73f11cef296408694d5904</string>
</dict>
</plist>